{% extends 'layouts/base.html.twig' %}

{% block title %}{{ pin.title }}{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-6 mx-auto">
            <article class="pin bg-white rounded shadow">
                <div class="mw-100 rounded-top overflow-hidden">
                        <img src="{{ (pin.imageName ? vich_uploader_asset(pin) : asset('build/image/placeholder.jpg')) | 
                        imagine_filter('squared_thumbnail_medium') }}" alt="{{ pin.title }}" class="w-100">
                </div>
                <h1 class="text-secondary h5 pl-3 pt-3">{{ pin.title }}</h1>
                <p class="text-muted pl-3 pb-3">
                    <small>
                        Submitted <time datetime="{{ pin.createdAt|date('Y-m-d H:i:s') }}"></time> {{ pin.createdAt|ago }} 
                        by {{ pin.user.fullName }}
                    </small>
                </p>
                <p class="pl-3 pr-3 pb-3 text-break">
                    {{ pin.description }}
                </p>
                <div class="pl-3 pb-3">
                    <a class="btn btn-light" href="{{ path('app_pins_edit', {'id': pin.id }) }}">Edit</a> 
                    <a class="btn btn-light" href="#" onclick="event.preventDefault(); confirm('Are you sure') && document.getElementById('js-pin-delete-form').submit();">Delete</a> 

                    <form id="js-pin-delete-form"action="{{ path('app_pins_delete', {'id': pin.id }) }}" method="POST" style="display:none">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token('pin_deletion_' ~ pin.id) }}">
                        <input type="hidden" name="_method" value="DELETE">
                    </form>
                </div>
            </article>
        </div>
    </div> 
{% endblock %}